apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mmgs-model-cache
  namespace: mmgs
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 100Gi

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mmgs-comfyui-models
  namespace: mmgs
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 200Gi
